.header{
  text-align: center;
}
nav.sidebar{
  background: white;
  align-self: flex-start;
}
#welcome-wrapper{
  margin: auto;
  width: 50%;
}
.center{
  margin: auto;
  width: 50%;
}
.loading{
  background: transparent url(images/spinner.gif) no-repeat scroll center center;
}